.hero {
  padding: 8.7rem 0 10.6rem;
  color: #fff;
  text-align: center;
}

.hero p {
  display: inline-block;
  max-width: 60rem;
  margin: 1.5rem 0 4rem;
}

.activities {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
  max-width: 700px;
}

.activity {
  padding: 0.9rem 2.5rem;
  font-weight: 300;
  border: 0.1rem solid #fff;
  border-radius: 2rem;
  white-space: nowrap;
}

@media (max-width: 1280px) {
  .hero {
    padding: 6.7rem 0 6.2rem;
  }

  .hero p {
    margin: 1rem 0 3.3rem;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 5.7rem 1.5rem 4.6rem 1.5rem;
  }
  .hero .title-xl {
    line-height: 1.2;
  }
  .hero .text-l {
    margin: 0.9rem 0 2.5rem;
    font-size: 1.4rem;
    line-height: 1.25;
  }
  .activity {
    padding: 0.6rem 1rem;
    width: 100%;
  }
}
