.team {
  position: relative;
  margin: 0 auto;
  padding: 7rem 0 10rem;
}

.team-list {
  display: flex;
  gap: 2.5rem;
  margin-top: 5.6rem;
  padding: 0 4rem 5.9rem 4rem;
  overflow-y: hidden;
}

.team.fulfilled::after {
  content: '';
  position: absolute;
  top: 79.95%;
  left: 50%;
  width: 77rem;
  height: 0.1rem;
  background: var(--black);
  transform: translateX(-50%);
  z-index: -1;
}

.team-list::-webkit-scrollbar {
  height: 1.4rem;
}
.team-list::-webkit-scrollbar-thumb {
  border: 0.1rem solid var(--dark-gray);
  background: var(--light-blue);
  border-radius: 2rem;
}
.team-list::-webkit-scrollbar-track {
  margin: 0 24.5rem;
}

.person-card {
  max-width: 25rem;
  min-width: 25rem;
  height: 33.6rem;
}

.person-card .role {
  color: var(--gray);
  margin-bottom: 0.5rem;
  font-weight: 300;
}

.person-card > img {
  margin: 1rem 0;
  width: 100%;
  height: 30rem;
  border-radius: 2rem;
  object-fit: cover;
}

.person-card .read-bio {
  margin-top: 1rem;
}

.team-background {
  position: absolute;
  top: -15%;
  right: -15%;
  width: 165rem;
  height: 155rem;
  z-index: -1;
}

@media (min-width: 1281px) {
  .team {
    max-width: 128rem;
  }

  .team-list {
    justify-content: start;
  }

  .person-card {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    min-width: 58.8rem;
    max-height: 22.7rem;
    box-shadow: 0 0.4rem 0.72rem 0 rgba(14, 67, 117, 0.07);
    border-radius: 2rem;
    overflow: hidden;
    background: #fff;
  }

  .person-card > img {
    width: 22rem;
  }

  .person-bio {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
    padding: 2.3rem 3rem;
  }

  .person-card .role,
  .person-description p {
    font-size: 1.4rem;
  }

  .person-card .role {
    margin: 0.5rem 0 1.1rem;
    line-height: 1;
  }

  .person-card .name {
    color: #000;
  }

  .person-description {
    margin-left: -3rem;
    padding-left: 3rem;
    max-height: 9.4rem;
    max-height: 8.85rem;
    overflow: hidden;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .person-card img {
    margin: 0;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 0;
  }
}

@media (max-width: 1280px) {
  .team {
    padding: 5rem 0;
  }

  .person-card .name {
    letter-spacing: 0.5px;
  }

  .team-list {
    padding: 0 2rem 4.5rem 2rem;
  }

  .team-list::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 768px) {
  .team {
    padding: 3.5rem 0 5.5rem;
  }
  .team-list {
    margin-top: 2.5rem;
    padding: 0 1.5rem;
    gap: 2rem;
  }
  .person-card {
    max-width: 16.5rem;
    min-width: 16.5rem;
    height: unset;
  }
  .person-card .role {
    letter-spacing: 0.03rem;
    margin-bottom: 0.4rem;
  }
  .person-card > img {
    margin-top: 0.445rem;
    margin-bottom: 0;
    height: 22.0732rem;
  }
}
