:root {
  --font-size: 10px;

  --black: #212121;
  --blue: #2671b7;
  --blue-dark: #095296;
  --gray: #888888;
  --yellow: #fcc11f;
}

@font-face {
  font-family: 'Kharkiv';
  src: url(fonts/Kharkiv-Tone.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Helvetica';
  src: url(fonts/Helvetica-Light.ttf);
  font-weight: 300;
}

.container {
  margin: 0 auto;
  padding: 0 4rem;
  max-width: 128rem;
}

/* Text */
.title-xl,
.title-l,
.title,
.title-s {
  font-family: 'Kharkiv';
}
.title-xl {
  font-size: 3.6rem;
}
.title-l {
  font-size: 2.4rem;
}
.title,
.text-l {
  font-size: 1.8rem;
}
.title-s,
.text {
  font-size: 1.6rem;
}
.text-s {
  font-size: 1.4rem;
}
.text-xs {
  font-size: 1.2rem;
}
.inscription {
  font-size: 1rem;
}
