.news {
  margin: 0 auto;
  padding: 0;
}

.news-list {
  display: flex;
  gap: 2.5rem;
  padding: 0 4rem;
  margin: 3.2rem 0 3.8rem;
  overflow-y: hidden;
}
.news-list::-webkit-scrollbar {
  display: none;
}

.news-card {
  min-width: 22rem;
  max-width: 22rem;
  cursor: pointer;
  transition: 0.2s;
  line-height: 1.15;
}

.news-card:hover {
  transform: translateY(-0.2rem);
}

.image-placeholder,
.news-card > img {
  margin: 0.5rem 0 1rem;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 2rem;
}
.image-placeholder {
  display: grid;
  place-items: center;
  box-shadow: 0 0.4rem 0.72rem 0 rgba(14, 67, 117, 0.1);
  backdrop-filter: blur(0.2rem);
  background: rgba(255, 255, 255, 0.1);
}
.image-placeholder img {
  width: 25%;
}

.news-data-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-gray);
}

.views {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.views::after {
  content: url(icons/eye.svg);
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
}

.more-news {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .news {
    max-width: 128rem;
  }
}

@media (max-width: 1280px) {
  .news-list {
    padding: 0 2rem;
    margin: 3rem 0 4rem;
  }
}

@media (max-width: 768px) {
  .news-list {
    padding: 0 1.5rem;
    margin: 2.5rem 0 3.5rem;
    gap: 2rem;
  }
  .news-card {
    min-width: 19rem;
    max-width: 19rem;
  }
  .views::after {
    margin-left: -0.25rem;
    margin-right: -0.3rem;
    transform: scale(0.85);
  }
  .news-card img {
    margin: 0.08rem 0 0.837rem;
  }
}
