.news-archive {
  padding: 7.3rem 0 11.7rem;
  scroll-behavior: unset;
}

.news-archive-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 4.5rem;
  column-gap: 2.5rem;
  margin: 3rem 0 4.3rem;
}

.more-archive-news {
  display: block;
  margin: 0 auto;
}
