.news-archive-background {
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, rgba(119, 182, 255, 0.3) 0%, rgba(211, 231, 255, 0.3) 100%);
  overflow: hidden;
}

.news-archive-background-image {
  position: absolute;
  top: 2%;
  right: -5%;
  z-index: -1;
}

.news-archive {
  padding: 7.3rem 0 11.7rem;
  scroll-behavior: unset;
  min-height: 90vh;
}

.news-archive-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 5.5rem;
  column-gap: 4.3rem;
  margin: 3rem 0 4.3rem;
}

.more-archive-news {
  display: block;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .news-archive {
    padding: 5.5rem 0 9.2rem;
  }

  .news-archive-items {
    margin: 3.5rem 0 6.5rem;
  }
}

@media (max-width: 768px) {
  .news-archive {
    padding: 4.5rem 0 8.8rem;
  }
  .news-archive-items {
    margin: 2.5rem 0 4.5rem;
    column-gap: 1.5rem;
    row-gap: 3.795rem;
  }
  .news-archive .news-card {
    max-width: 15.7rem;
    min-width: 15.7rem;
  }
  .news-archive .news-card > img {
    margin-bottom: 0.369rem;
  }
}
