.detail-page-background {
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, rgba(119, 182, 255, 0.3) 0%, rgba(211, 231, 255, 0.3) 100%);
  overflow: hidden;
}

.details-background-image {
  position: absolute;
  top: 2%;
  right: -5%;
  z-index: -1;
}

.detail-page {
  display: flex;
  gap: 2.5rem;
  padding: 5rem 0 8.5rem;
  min-height: 90vh;
}

.news-cover {
  margin-bottom: 1.5rem;
  width: 100%;
  aspect-ratio: 4/2;
  object-fit: contain;
}

.img-description {
  margin-bottom: 1rem;
  text-align: right;
  font-size: 1.4rem;
  line-height: 1;
}

.news-details .news-data-wrapper {
  margin-bottom: 0.6rem;
  font-size: 1.4rem;
}

.news-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3.7rem;
  line-height: 1.5;
}

.news-content .list-item {
  margin-left: 1.5rem;
  padding-left: -1.5rem;
}

/* Recommended news */
.recommended-news {
  display: flex;
  flex-direction: column;
  gap: 8.5rem;
  min-width: 34.2rem;
}

.recommended-news-card {
  cursor: pointer;
  transition: 0.1s;
}
.recommended-news-card:hover {
  font-weight: 400;
}

.recommended-news-photo {
  width: 100%;
  height: 21.7rem;
  object-fit: cover;
  transition: 0.1s;
}

.recommended-news-card p {
  margin: 1rem 0 0.5rem;
  line-height: 1.25;
}

.recommended-news .image-placeholder {
  margin: 0;
  aspect-ratio: unset;
  height: 21.6rem;
  border-radius: 0;
}

.recommended-news .news-data-wrapper {
  font-size: 1.2rem;
}

@media (max-width: 1280px) {
  .details-background-image {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .detail-page {
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
    padding: 5.5rem 0 6.6rem;
  }

  .news-details .news-data-wrapper {
    margin-bottom: 1.5rem;
  }

  .news-content {
    margin-top: 2rem;
    gap: 2rem;
  }

  .recommended-news {
    flex-direction: row;
    gap: 3.5rem;
    overflow-y: hidden;
  }

  .recommended-news::-webkit-scrollbar {
    display: none;
  }

  .recommended-news-card {
    min-width: 342px;
  }
}

@media (max-width: 768px) {
  .detail-page {
    padding: 4rem 0;
    gap: 4rem;
  }
  .news-cover {
    aspect-ratio: unset;
  }
  .news-content {
    margin-top: 1.1rem;
    line-height: 1.4;
  }
  .recommended-news {
    padding: 0 1.5rem;
    gap: 2rem;
    min-width: unset;
  }
  .recommended-news-card {
    min-width: 22.2rem;
  }
  .recommended-news-photo,
  .recommended-news .image-placeholder {
    height: 15.9559rem;
  }
  .recommended-news p {
    margin: 0.735rem 0 0.509rem;
  }
}
