.list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.list-item {
  list-style-type: disc;
  line-height: 1.25;
}

.quote {
  display: block;
  position: relative;
  border-left: 0.3rem solid var(--black);
  padding: 1.5rem;
  background: #f5f5f5;
  line-height: 1.4;
  border-radius: 1rem;
}
