.list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.list-item {
  line-height: 1.25;
}

ul .list-item {
  list-style-type: disc;
}
ol .list-item {
  list-style-type: decimal;
}

.quote {
  display: block;
  position: relative;
  border-left: 0.3rem solid var(--blue);
  padding: 1.5rem;
  background: #f5f5f5;
  line-height: 1.4;
  border-radius: 1rem;
}

.detail-page .quote {
  background: #fbfeff;
}

.text-link {
  color: var(--blue);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .quote {
    padding: 1rem 1.5rem;
  }
}
